<%- include('partials/header.ejs', {
    title: "PalaceMC",
    description: "blah blah blah",
    keywords: [
        "Minecraft",
        "PalaceMC",
        "Palace"
    ]
}) -%>
<body>

<%- include('partials/navigation.ejs', {page: "home"}) -%>

<div id="main">
<div id="banner">
    <div id="overlay">
        <h1 style="text-shadow:1px 1px 3px rgba(0,0,0,0.4);text-align:center;margin-top:4em">Website under development</h1>
        <p style="text-shadow:1px 1px 3px rgba(0,0,0,0.4);text-align:center;font-size:1.3em">Play on PalaceMC today!<br/>IP: <code class="inline-box">palacemc.net</code></p>
    </div>
</div>

<div id="content-wrapper">

<div id="content">

</div>

<%- include('partials/bottom.ejs') -%>

</div>
</div>

<%- include('partials/statcounter.ejs') -%>

</body>

<%- include('partials/footer.ejs') -%>
